<% @clients = Customer.find(:all, :conditions => ["company_id = ?", current_user.company_id], :order => "name").collect{ |c| [c.name, c.id.to_s]} %>
<div id="shortlist-filter">
<% form_tag( :controller => 'task_shortlist', :action => 'filter_shortlist') do %>
<select name="filter" id="filter" onchange="javascript:document.forms[0].submit();">
  <option value="0" class="select_default"><%= _("[All Tasks]") %></option>

  <% @clients.each do |c| %>
    <% @client_projects = Project.find(:all, :conditions => ["projects.customer_id = #{c[1]} AND projects.completed_at IS NULL AND project_permissions.user_id = #{current_user.id}"], :include => :project_permissions, :order => "name") %>
    <% if @client_projects.size > 0 %>
      <option value="c<%=c[1]%>" class="select_heading"<%= " selected" if "c" + c[1] == @filter %>><%= c[0] %></option>
      <% @client_projects.each do |p| %>
        <option value="p<%= p.id %>" class="select_item"<%= " selected" if( "p#{p.id}" == @filter  ) %>>&nbsp;&nbsp;<%= p.name %></option>
        <% @project_milestones = Milestone.find(:all, :conditions => ["project_id = #{p.id} AND completed_at IS NULL"], :order => "due_at, name") %>
        <% if @project_milestones.size > 0 -%>
          <% @project_milestones.each do |m| -%>
            <option value="m<%=m.id%>" class="select_subitem"<%= " selected" if "m#{m.id}" == @filter %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= m.name %></option>
          <% end -%>
          <option value="u<%=p.id%>" class="select_default select_subitem"<%= " selected" if "u#{p.id}" == @filter %>>&nbsp;&nbsp;&nbsp;&nbsp;<%= _("[Unassigned]") -%></option>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end %>
</select>
</div>
<% end -%>
