<h1><%= _ "Listing of notice groups" %></h1>

<% @notice_groups.each do |notice_group| %>
	
<div class='group_list'>
  <div class='client-heading'><%= link_to notice_group.name, :id => notice_group, :action => 'edit' %></div>
    <div class='group_users'><p><%=_("Users") %></p>
      <ul>
        <% notice_group.users.each do |user| %>
            <li><%= user.name %></li>
        <% end %>
      </ul>
    </div>
  <div>
<div>
<% end %>

<%= link_to _("Create notice group"), new_notice_group_path %>
