<div class="task_entry <%= task.dom_id%>">

  <!-- Stuff that's on the left like the clock icon, task num, task name, worked time, project / client -->
  <div class="col_entry_task">

    <div class="col_entry_icon">
      <!-- bookmark task -->
      <% if task.bookmarked?(current_user)
           img = 'task/img_co_icon-bookmark-select.png'
           cls = 'bookmarked entry_icon_bookmark'
         else
           img = 'task/img_co_icon-bookmark-up.png'
           cls = 'entry_icon_bookmark'
         end
      %>

      <%= link_to_function image_tag( img, :alt => t(:bookmark_task), :title => t(:bookmark_task) ), 
          "toggleTaskBookmarked(#{task.id});",
          :class => cls %>

      <!-- Shows a clock if the user has permission to work on the task or is already working on the task -->
      <% if @current_sheet and @current_sheet.task_id == task.id %>
        <%# link_to image_tag( 'task/img_co_clock.png', :alt => t(:stop_task), :title => t(:stop_task) ), 
          { :controller => 'tasks', :action => 'stop_work', :id => task.id }, :class => 'entry_icon_clock' -%>
        <%= link_to_function image_tag( 'task/img_co_clock.png', :alt => t(:stop_task), :title => t(:stop_task) ), 
          "sendWorkLogJournal(#{task.id});", {:class => 'entry_icon_clock'} %>
      <% elsif current_user.can?(task.project, 'work') %>
        <%= link_to_remote image_tag( 'task/img_co_unclock.png', :alt => t(:start_task), :title => t(:start_task) ), 
          :url => { :controller => 'sheets', :action => 'start', :id => task.id }, :class => 'entry_icon_clock', :loading => 'showProgress();', :complete => 'hideProgress();' -%>
      <% end %>
    </div>

    <!-- Useful information like task num, task name, etc -->
    <div class="col_entry_time_task">
      <div class="entry_task">
        <span class="entry_no">#<%= task.task_num %></span>
        <span class="entry_task_text">
          <%= link_to task.name, :controller => 'tasks', :action => 'edit', :id => task.id %>
          <%# link_to_task(task) -%>
          <!-- tooltip showing info about the task -->
          <%= render :partial => 'tasks/task_tooltip', :locals => {:task => task} %>
        </span>

        <!-- total time worked on the task -->
        <% if current_user.option_tracktime? %>
          <span class="entry_time"><%= task.overworked? ? content_tag(:span, format_duration(task.worked_seconds), :class => 'entry_time_exceeded') : format_duration(task.worked_seconds) %>
            / <%= format_duration(task.duration) %></span>
        <% end %>

        <!-- task due date -->
        <% if task.due_at %>
          <span class="entry_date">
            <%= task.overdue? ? content_tag(:span, TasksHelper.neg_due_date(task.due_at), :class => 'entry_date_exceeded') : TasksHelper.neg_due_date(task.due_at) %>
          </span>
        <% end %>

      </div>
      <div class="entry_project"><%= task.full_name_without_links %></div>
    </div>
  </div>

  <!-- Utility icons that perform a specific action link closing a task, adding a TODO, archiving a task -->
  <div class="col_entry_tools">

    <!-- TODO list -->
    <%= image_tag 'task/img_co_icon-todo.png', {:alt => t(:todo), :title => t(:todo)} %>
    <%= render :partial => 'tasks/task_todo_tooltip', :locals => {:todos => task.todos} %>

    <!-- Close/open task -->
    <% if current_user.can?(task.project, 'close') -%>
      <% if task.open? -%>
        <%= link_to_remote image_tag( 'task/img_co_icon-classify.png', :alt => t(:close_task), :title => t(:close_task) ),
          :loading => 'showProgress();', :complete => 'hideProgress();', :confirm => t(:confirm_close),
          :url => {:controller => 'tasks', :action => 'close', :id => task.id} %>
      <% else %>
        <%= link_to_remote image_tag( 'task/img_co_icon-declassify.png', :alt => t(:open_task), :title => t(:open_task) ),
          :loading => 'showProgress();', :complete => 'hideProgress();',
          :url => {:controller => 'tasks', :action => 'open', :id => task.id} %>
      <% end %>
    <% end %>

    <!-- Archive task -->
    <% if current_user.admin? and task.closed? %> 
      <% unless task.hidden? %>
        <%= link_to_remote image_tag( 'task/img_co_icon-archive.png', :alt => t(:archive_task), :title => t(:archive_task) ),
            :loading => 'showProgress();', :complete => 'hideProgress();', :confirm => t(:confirm_archive),
            :url => {:controller => 'tasks', :action => 'hide', :id => task.id} %>
      <% else %>
        <%= link_to_remote image_tag( 'task/img_co_icon-dearchive.png', :alt => t(:unarchive_task), :title => t(:unarchive_task) ),
            :loading => 'showProgress();', :complete => 'hideProgress();',
            :url => {:controller => 'tasks', :action => 'restore', :id => task.id} %>
      <% end %>
    <% end %>

  </div>
  <div class="clear"></div>
</div>
