<div id="todo-container-<%=task.dom_id%>" class="todo-container">
  <% not_done = task.todos.select { |t| t.completed_at.nil? }
    done = task.todos - not_done
  %>
    <ul id="todo-<%=task.dom_id%>" class="task-todo">
      <% not_done.each do |@todo| %>
        <%= render :partial => "tasks/todo_row" %>
      <% end %>
    </ul>

  <input type="text" id="todo_text_<%=task.id%>" name="todo[name]" />
  <a href='#' onclick="addTodo(); return false;"><img src="/images/add.png" style="margin:0;padding:2px 0 0 0;" border="0" /></a>
    <ul id="todo-done-<%=task.dom_id%>" class="task-todo">
      <% done.each do |@todo| %>
        <%= render :partial => "tasks/todo_row" %>
     <% end %>
    </ul>

  <script type='text/javascript'>
    function addTodo(){
    new Ajax.Request('/tasks/create_todo_ajax/<%=task.id%>?depth=<%=depth%>', 
      { asynchronous:true, 
      evalScripts:true, 
      onComplete:function(request) {hideProgress();}, 
      onLoading:function(request){showProgress();}, 
      parameters:'todo[name]=' + encodeURIComponent(jQuery('#todo_text_<%=task.id%>').val())
      });
    }

    jQuery('#todo_text_<%=task.id%>').keydown(function(event) {
      if (event.keyCode == '13') {
        event.preventDefault();
        addTodo();
      }
    });
  </script>
</div>
