<% redirect_action ||= nil %>

<!-- My filters -->
<div class="filters_header">
  <%= link_to_function image_tag( 'general/img_co_icon-open.png', :alt => t(:open), :title => t(:open) ),
    "toggleFilterPanel(this, 'show_my_filters');" %>
  <span class="header_name"><%=t(:my_filters)%></span>
</div>
<div class="filters_section"<%= "style='display:none;'" if cookies[:show_my_filters] == 'false' %>>
  <ul>
    <% current_user.task_filters.visible.each do |task_filter| %>
      <li>
        <%= link_to task_filter.name, {:controller => 'task_filters', :action => 'select', :id => task_filter.id, :redirect_action => redirect_action }, :class => 'filter_name' %>
        <%= link_to image_tag( 'task_filter/img_co_icon-filters-delete-up.png', :alt => t(:delete), :title => t(:delete) ),
          task_filter_path(task_filter), :method => :delete, :class => 'filter_delete', :confirm => t(:confirm_delete) %>
      </li>
    <% end %>
  </ul>
</div>

<!-- Shared filters -->
<div class="filters_header">
  <%= link_to_function image_tag( 'general/img_co_icon-open.png', :alt => t(:open), :title => t(:open) ),
    "toggleFilterPanel(this, 'show_shared_filters');" %>
  <span class="header_name"><%=t(:shared_filters)%></span>
</div>
<div class="filters_section" <%= "style='display:none;'" if cookies[:show_shared_filters] == 'false' %>>
  <ul>
    <% current_user.company.task_filters.shared.visible.each do |task_filter| %>
      <li>
        <%= link_to task_filter.name, {:controller => 'task_filters', :action => 'select', :id => task_filter.id, :redirect_action => redirect_action }, :class => 'filter_name' %>
        <%= link_to( image_tag( 'task_filter/img_co_icon-filters-delete-up.png', :alt => t(:delete), :title => t(:delete) ),
          task_filter_path(task_filter), :method => :delete, :class => 'filter_delete', :confirm => t(:confirm_delete)) if task_filter.user == current_user %>
      </li>
    <% end %>
  </ul>
</div>

<!-- Default filters -->
<div class="filters_header">
  <%= link_to_function image_tag( 'general/img_co_icon-open.png', :alt => t(:open), :title => t(:open) ),
    "toggleFilterPanel(this, 'show_default_filters');" %>
  <span class="header_name"><%=t(:default_filters)%></span>
</div>
<div class="filters_section" <%= "style='display:none;'" if cookies[:show_default_filters] == 'false' %>>
  <ul>
      <li><%= link_to_open_tasks(nil, redirect_action, {:class => 'filter_name'}) %></li>
      <li><%= link_to_open_tasks(current_user, redirect_action, {:class => 'filter_name'}) %></li>
      <li><%= link_to_in_progress_tasks(current_user, redirect_action, {:class => 'filter_name'}) %></li>
      <li><%= link_to_non_assigned_tasks(redirect_action, {:class => 'filter_name'}) %></li>
  </ul>
</div>
