<!--[if IE]>
	<div id="ie_upgrade_message">
    <h4>We've noticed you're using Internet Explorer...</h4>
    <h1>IE IS BAD</h1>
		<p>IE may not properly show you the best parts of this website. We recommend that you upgrade to one of the following browsers:</p>
		<ul>
      <li><a href="http://www.getfirefox.com/">Firefox</a></li>
      <li><a href="http://www.google.com/chrome">Chrome</a></li>
		</ul>
	</div>
<![endif]-->
<% if @internal -%>
  <div id="xouter">
    <div id="xcontainer">
      <div id="xinner">

        <div id="login">
          <%= image_tag 'login/sys-tech.png', :class => 'logo' %>
          <% if flash[:notice] %>
            <div class='notice_msg'>
              <span><%= flash[:notice] %></span>
              <% flash.clear %>
            </div>
          <% end %>
          <% form_for :user, :url => {:action => 'validate'}, :html => {:id => 'loginform', :name => 'loginform'} do |f| %>
          <div id="fields">
            <label><%= t(:identification) %></label>
            <%= f.text_field :username, :class => 'username' %>
            <%= hidden_field_tag 'forgot' %>

            <label>
              <%= t(:password) %>
              (<%= link_to_function t(:forgot), 
                "document.loginform.forgot='true';document.loginform.submit()"%>)
            </label><br />

            <%= f.password_field :password, :class => 'password' %>
            <%= check_box_tag :remember %>&;nbsp<span><%= t(:remember_me) %></span>
            <%= submit_tag t(:connect), :class => 'submit' %>
          </div>
          <%= image_tag 'login/clocking_it.png' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <h1>Please set up Clocking IT by running the setup.rb script.</h1>
<% end %>
