<fieldset id="content" class="basic">
  <legend><%=_ "Save Filter" %></legend>

  <% form_remote_tag(:url => { :action => "save_filter" }, :success => "self.parent.location.reload();" ) do -%>

  <label for="view_name"><%=_ 'Name' %></label>
  <%= text_field :view, :name  %>
  <br/>

  <label for="view_shared"><%=_ 'Shared' %></label>
  <input type="checkbox" name="view[shared]" id="view_shared" value="1">
  <br/>

  <label>&nbsp;</label><div class="buttons">
    <%= submit_tag _("Create"), :class => 'nolabel' %>
  </div>
  <% end %>

</fieldset>
