<div id="container">
  <div id="top">
    <div id="row_1">

      <!-- Logo top left -->
      <div id="logo">
        <% if !@internal.nil? && @internal.logo? %>
          <%= tag("img", {:src => "/clients/show_logo/#{@internal.id}"} ) %>
        <% else %>
          <%= image_tag 'header/img_co_logo.png', :title => "SYS-TECH Technologies de l'information libres"  %>
        <% end %>
      </div>

      <!-- Sheet, info on the task currently active -->
      <div id="sheet_info">
        <%= render :partial => 'header/sheet_info' %>
      </div>

      <!-- Login info and buttons to open the shortlist and user preferences -->
      <%= render :partial => 'header/login_info' %>
    </div>

    <div id="row_2">

      <!-- Main menu -->
      <%= render :partial => 'header/tab_menu' %>

      <!-- Counter indicating time left in work period -->
      <div id="time_left">
        <%= render :partial => 'header/time_left' %>
      </div>

      <!-- Search box -->
      <%= render :partial => 'header/search' %>
    </div>
  </div>
</div>
