<% if @current_sheet and @current_sheet.task %>
  <% task = current_user.tasks.find( @current_sheet.task_id, {:include => [:project]} ) %>
  <%
    info_string = worked_nice(@current_sheet.duration/60)
    if task.duration.to_i > 0
      info_string += "(#{worked_nice(task.worked_minutes + @current_sheet.duration/60)}"
      info_string += " / #{worked_nice(task.duration)})"
    end
    
    truncate_length = 45
    task_label = task.issue_name + ' - ' + task.project.name + "#{task.full_tags unless task.full_tags.empty?}"
    task_label = task_label[0,truncate_length] + '...' if task_label.length > truncate_length 
  %>

  <div id="clock_image">
    <% if @current_sheet.paused? %>
      <%= link_to_remote image_tag("time_resume.png", :title => t(:resume_time), :alt => t(:resume_time)), :url => {:controller => 'tasks', :action => 'pause_work_ajax'}, 
        :loading => "showProgress();", :complete => "hideProgress();" %>
    <% else %>
      <%= link_to_function image_tag('header/img_co_icon-clock-top.png', :title => t(:save_time), :alt => t(:save_time)), "sendWorkLogJournal();" %>
      <%# link_to image_tag('header/img_co_icon-clock-top.png', :title => t(:save_time), :alt => t(:save_time)),
        { :controller => 'tasks', :action => 'stop_work', :id => task.id }, :class => 'entry_icon_clock', :onclick => 'updateLog();' -%>

    <% end %>
  </div>

  <!-- information about the task the user is currently working on -->
  <div id="clock_text">
    
    <!-- Task title -->
    <div class="task">
      <%= link_to task_label, {:controller => 'tasks', :action => 'edit', :id => task.id} %>
    </div>

    <!-- Time spent -->
    <div class="time">
      <div class="task_time"><%= info_string %></div>

      <!-- worklog description, can be toggled to hide/unhide -->
      <div class="task_postit" id="sheet_description">
        <%= link_to_function t(:worklog),
          "toggleWorkLogJournal();" %>
        <div class="postit" id="worklog_form" style="display: none;">
          <%= link_to_function image_tag( 'header/img_co_icon-close-postit.png', :alt => t(:close_worklog), :title => t(:close_worklog) ),
            "toggleWorkLogJournal();" %>
          <% form_remote_tag :url => {:controller => 'tasks', :action => 'updatelog'} do %>
            <%= label_tag :worklog_form, t(:describe_worklog) %>
            <%= text_area_tag 'text', @current_sheet.body, :size => '52x8', :id => 'worklog_body' %>
          <% end %>
        </div>
      </div>

      <!-- Cancel working on task -->
      <div class="task_cancel"><%= link_to_remote t(:cancel_worked_time), :title => t(:cancel_worked_time), :alt => t(:cancel_worked_time), :url => {:controller => 'tasks', :action => 'cancel_work_ajax' },
        :confirm => t(:confirm_cancel_work), :loading => "showProgress();", :complete => "hideProgress();" %></div>
    </div>
  </div>

<% else %>
  
    <p class="time_spent"><%= distance_of_time_in_words(total_today.minutes) + ' ' + t(:worked_today) %></p>

<% end %>
