  <tr>
    <td>
      <%= tz.utc_to_local(log.started_at).strftime(current_user.date_format + "<br />" + current_user.time_format) %>
      <% if log.log_type == EventLog::TASK_WORK_ADDED %>
        <%= ' - ' + tz.utc_to_local(log.ended_at).strftime(current_user.time_format) + '(' + link_to(worked_nice(log.duration), { :controller => 'tasks', :action => 'edit_log', :id => log }) + ')' %>
      <% end %>
    </td>
    <td><%= _(EventLog::EVENT_LABELS[log.log_type]) %></td>
    <td><%= log.user.name %></td>
    <td>
      <% if log.body && log.body.length > 0 %>
        <%= wrap_text( log.body.gsub(/- <strong>([^<]+)<\/strong>/) {|m| "- <strong>#{_($1)}</strong>"}, 100).gsub(/\n/, "<br>") %>
      <% end %>
    </td>
  </tr>
