<div id="widget_panel">
  <div id="widget_col_0" class="widget_large">

  </div>
  <div id="widget_col_1" class="widget_smalli widget_small_1">

  </div>
  <div id="widget_col_2" class="widget_smalli widget_small_2">

  </div>
</div>

<script type="text/javascript" language="javascript" charset="utf-8">
// <![CDATA[

function onOverWidget(portal, widget) {
  // show the widget menu
  jQuery("#" + widget._getId() + " .widget-menu").show();
} 
   
function onOutWidget(portal, widget) {
  // hide the widget menu (not the whole widget!)
  jQuery("#" + widget._getId() + " .widget-menu").hide();
}
   
var portal = new Xilinus.Portal("#widget_panel div", {url: "/widgets/save_order", onOverWidget: onOverWidget, onOutWidget: onOutWidget} );

<% current_user.widgets.each do |@widget| %>

  var widget = new Xilinus.Widget("widget", "<%=@widget.dom_id%>");
  var title = "<%= escape_javascript(render :partial => 'widgets/widget_title_old', :locals => {:widget => @widget}) %>";

  widget.setTitle(title);
  widget.setContent('<span class="optional"><br/><%= _'Loading...'%></span>');
  portal.add(widget, <%=@widget.column%>);
  <%= "jQuery('#content_#{@widget.dom_id}').hide();" if @widget.collapsed? %> 

<% end %>

<% widgets = (current_user.widgets.select{ |w| !w.collapsed? } +
              current_user.widgets.select{ |w| w.collapsed? }) -%>
<% widgets.each do |@widget| %>
jQuery.getScript('/widgets/show/<%=@widget.id%>', function(data) { portal.refreshHeights();} );
<% end %>
// ]]>
</script>
