<a href="javascript:var timerwindow=window.open('<%=request.protocol%><%=request.host_with_port%>/login/shortlist_auth/<%= current_user.autologin %>','','resizable=1,toolbar=0,location=0,status=0,menubar=0,scrollbars=1,width=300,height=650');timerwindow.focus();" style="font-size:9px;" class="tooltip" title="<%= _'Bookmark this link to quickly open the Timer Window'%>">
    <%= image_tag 'shortlist_icon.png' %>
</a>
